-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: pms_database
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounting_ledger`
--

DROP TABLE IF EXISTS `accounting_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounting_ledger` (
  `entry_id` int NOT NULL AUTO_INCREMENT,
  `payment_id` int DEFAULT NULL,
  `invoice_id` int DEFAULT NULL,
  `lease_id` int NOT NULL,
  `account_type` enum('revenue','liability','expense') NOT NULL,
  `category` enum('deposit_held','deposit_refund','deposit_withheld','deposit_accrued','rent','late_fee','maintenance','management_fee','maintenance_repair','other') NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `entry_date` date NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `debit` bigint DEFAULT '0',
  `credit` bigint DEFAULT '0',
  PRIMARY KEY (`entry_id`),
  KEY `payment_id` (`payment_id`),
  KEY `invoice_id` (`invoice_id`),
  KEY `idx_ledger_lease` (`lease_id`),
  KEY `idx_ledger_account_type` (`account_type`),
  KEY `idx_ledger_entry_date` (`entry_date`),
  KEY `idx_ledger_lease_category` (`lease_id`,`category`),
  KEY `idx_ledger_lease_cat` (`lease_id`,`category`),
  CONSTRAINT `accounting_ledger_ibfk_1` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`payment_id`),
  CONSTRAINT `accounting_ledger_ibfk_2` FOREIGN KEY (`invoice_id`) REFERENCES `rent_invoices` (`invoice_id`),
  CONSTRAINT `fk_ledger_lease` FOREIGN KEY (`lease_id`) REFERENCES `leases` (`lease_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounting_ledger`
--

LOCK TABLES `accounting_ledger` WRITE;
/*!40000 ALTER TABLE `accounting_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cron_checkpoints`
--

DROP TABLE IF EXISTS `cron_checkpoints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cron_checkpoints` (
  `job_name` varchar(50) NOT NULL,
  `last_success_date` date NOT NULL,
  `status` enum('success','failed','running') DEFAULT 'success',
  `message` text,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`job_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cron_checkpoints`
--

LOCK TABLES `cron_checkpoints` WRITE;
/*!40000 ALTER TABLE `cron_checkpoints` DISABLE KEYS */;
INSERT INTO `cron_checkpoints` VALUES ('nightly_billing','2026-04-16','failed','currentToday.getFullYear is not a function','2026-04-16 08:17:37');
/*!40000 ALTER TABLE `cron_checkpoints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cron_logs`
--

DROP TABLE IF EXISTS `cron_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cron_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `job_name` varchar(100) NOT NULL,
  `execution_date` date NOT NULL,
  `status` enum('success','failed','running') DEFAULT 'running',
  `message` text,
  `started_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ended_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `job_name` (`job_name`),
  KEY `execution_date` (`execution_date`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cron_logs`
--

LOCK TABLES `cron_logs` WRITE;
/*!40000 ALTER TABLE `cron_logs` DISABLE KEYS */;
INSERT INTO `cron_logs` VALUES (20,'nightly_billing','2026-03-25','success',NULL,'2026-03-26 17:23:24',NULL),(21,'nightly_billing','2026-03-26','success',NULL,'2026-03-26 17:23:24','2026-03-26 17:23:24');
/*!40000 ALTER TABLE `cron_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knex_migrations`
--

DROP TABLE IF EXISTS `knex_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knex_migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `batch` int DEFAULT NULL,
  `migration_time` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knex_migrations`
--

LOCK TABLES `knex_migrations` WRITE;
/*!40000 ALTER TABLE `knex_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `knex_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knex_migrations_lock`
--

DROP TABLE IF EXISTS `knex_migrations_lock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knex_migrations_lock` (
  `index` int unsigned NOT NULL AUTO_INCREMENT,
  `is_locked` int DEFAULT NULL,
  PRIMARY KEY (`index`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knex_migrations_lock`
--

LOCK TABLES `knex_migrations_lock` WRITE;
/*!40000 ALTER TABLE `knex_migrations_lock` DISABLE KEYS */;
INSERT INTO `knex_migrations_lock` VALUES (1,0);
/*!40000 ALTER TABLE `knex_migrations_lock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_followups`
--

DROP TABLE IF EXISTS `lead_followups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_followups` (
  `followup_id` int NOT NULL AUTO_INCREMENT,
  `lead_id` int NOT NULL,
  `followup_date` date NOT NULL,
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`followup_id`),
  UNIQUE KEY `unique_lead_followup` (`lead_id`,`followup_date`),
  KEY `lead_id` (`lead_id`),
  CONSTRAINT `lead_followups_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`lead_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_followups`
--

LOCK TABLES `lead_followups` WRITE;
/*!40000 ALTER TABLE `lead_followups` DISABLE KEYS */;
INSERT INTO `lead_followups` VALUES (1,28,'2026-04-11','','2026-04-11 21:59:52'),(4,35,'2026-04-18','must','2026-04-16 12:49:25');
/*!40000 ALTER TABLE `lead_followups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_stage_history`
--

DROP TABLE IF EXISTS `lead_stage_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_stage_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `lead_id` int NOT NULL,
  `from_status` enum('interested','converted','dropped') DEFAULT NULL,
  `to_status` enum('interested','converted','dropped') NOT NULL,
  `changed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `notes` text,
  PRIMARY KEY (`history_id`),
  KEY `lead_id` (`lead_id`),
  CONSTRAINT `lead_stage_history_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`lead_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_stage_history`
--

LOCK TABLES `lead_stage_history` WRITE;
/*!40000 ALTER TABLE `lead_stage_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_stage_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leads` (
  `lead_id` int NOT NULL AUTO_INCREMENT,
  `property_id` int NOT NULL,
  `unit_id` int DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `status` enum('interested','viewed','converted','dropped') DEFAULT 'interested',
  `notes` text,
  `internal_notes` text,
  `score` int DEFAULT '0',
  `last_contacted_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `move_in_date` date DEFAULT NULL,
  `occupants_count` int DEFAULT '1',
  `occupation` varchar(100) DEFAULT NULL,
  `nic` varchar(20) DEFAULT NULL,
  `preferred_term_months` int DEFAULT NULL,
  `lease_term_id` int DEFAULT NULL,
  `portal_token` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`lead_id`),
  KEY `property_id` (`property_id`),
  KEY `unit_id` (`unit_id`),
  KEY `idx_lead_status` (`status`),
  KEY `idx_lead_last_contacted` (`last_contacted_at`),
  KEY `lease_term_id` (`lease_term_id`),
  CONSTRAINT `leads_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`),
  CONSTRAINT `leads_ibfk_2` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`),
  CONSTRAINT `leads_ibfk_3` FOREIGN KEY (`lease_term_id`) REFERENCES `lease_terms` (`lease_term_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lease_rent_adjustments`
--

DROP TABLE IF EXISTS `lease_rent_adjustments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lease_rent_adjustments` (
  `adjustment_id` int NOT NULL AUTO_INCREMENT,
  `lease_id` int NOT NULL,
  `effective_date` date NOT NULL,
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `new_monthly_rent` bigint DEFAULT '0',
  PRIMARY KEY (`adjustment_id`),
  UNIQUE KEY `unique_lease_adjustment` (`lease_id`,`effective_date`),
  KEY `lease_id` (`lease_id`),
  CONSTRAINT `lease_rent_adjustments_ibfk_1` FOREIGN KEY (`lease_id`) REFERENCES `leases` (`lease_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lease_rent_adjustments`
--

LOCK TABLES `lease_rent_adjustments` WRITE;
/*!40000 ALTER TABLE `lease_rent_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `lease_rent_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lease_terms`
--

DROP TABLE IF EXISTS `lease_terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lease_terms` (
  `lease_term_id` int NOT NULL AUTO_INCREMENT,
  `owner_id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `type` enum('fixed','periodic') NOT NULL,
  `duration_months` int DEFAULT NULL,
  `notice_period_months` int DEFAULT '1',
  `is_default` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`lease_term_id`),
  KEY `owner_id` (`owner_id`),
  CONSTRAINT `lease_terms_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lease_terms`
--

LOCK TABLES `lease_terms` WRITE;
/*!40000 ALTER TABLE `lease_terms` DISABLE KEYS */;
INSERT INTO `lease_terms` VALUES (2,1,'1 Year','fixed',12,2,0,'2026-03-15 15:50:14'),(3,1,'3 Year','fixed',36,2,0,'2026-03-15 15:50:28'),(4,1,'7 Months','fixed',12,2,0,'2026-03-15 15:50:46');
/*!40000 ALTER TABLE `lease_terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leases`
--

DROP TABLE IF EXISTS `leases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leases` (
  `lease_id` int NOT NULL AUTO_INCREMENT,
  `tenant_id` int NOT NULL,
  `unit_id` int NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('draft','pending','active','expired','ended','cancelled') DEFAULT 'draft',
  `deposit_status` enum('pending','paid','awaiting_approval','awaiting_acknowledgment','disputed','partially_refunded','refunded') DEFAULT 'pending',
  `refund_notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `document_url` varchar(500) DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `notice_status` enum('undecided','vacating','renewing') DEFAULT 'undecided',
  `lease_term_id` int DEFAULT NULL,
  `actual_checkout_at` datetime DEFAULT NULL,
  `target_deposit` bigint NOT NULL DEFAULT '0',
  `signed_at` datetime DEFAULT NULL,
  `reservation_expires_at` datetime DEFAULT NULL,
  `verification_status` enum('pending','verified','rejected') DEFAULT 'pending',
  `verification_rejection_reason` text,
  `monthly_rent` bigint DEFAULT '0',
  `escalation_percentage` decimal(5,2) DEFAULT NULL,
  `escalation_period_months` int DEFAULT '12',
  `last_escalation_date` date DEFAULT NULL,
  `security_deposit` bigint DEFAULT '0',
  `proposed_refund_amount` bigint DEFAULT '0',
  `refunded_amount` bigint DEFAULT '0',
  `disbursement_date` datetime DEFAULT NULL,
  `bank_reference_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`lease_id`),
  KEY `idx_lease_status` (`status`),
  KEY `idx_leases_status_end_date` (`status`,`end_date`),
  KEY `idx_leases_deleted_at` (`deleted_at`),
  KEY `lease_term_id` (`lease_term_id`),
  KEY `leases_tenant_fk` (`tenant_id`),
  KEY `leases_unit_fk` (`unit_id`),
  KEY `idx_leases_tenant_status` (`tenant_id`,`status`),
  KEY `idx_leases_unit_status` (`unit_id`,`status`),
  KEY `idx_lease_tenant_status` (`tenant_id`,`status`),
  KEY `idx_lease_unit_status` (`unit_id`,`status`),
  CONSTRAINT `leases_ibfk_3` FOREIGN KEY (`lease_term_id`) REFERENCES `lease_terms` (`lease_term_id`),
  CONSTRAINT `leases_tenant_fk` FOREIGN KEY (`tenant_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT,
  CONSTRAINT `leases_unit_fk` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leases`
--

LOCK TABLES `leases` WRITE;
/*!40000 ALTER TABLE `leases` DISABLE KEYS */;
/*!40000 ALTER TABLE `leases` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_duplicate_active_lease` BEFORE INSERT ON `leases` FOR EACH ROW BEGIN
  DECLARE overlap_count INT;
  SELECT COUNT(*) INTO overlap_count
  FROM leases
  WHERE unit_id = NEW.unit_id
    AND status IN ('active', 'draft', 'pending')
    AND start_date <= IFNULL(NEW.end_date, '2099-12-31')
    AND (end_date IS NULL OR end_date >= NEW.start_date);
  
  IF overlap_count > 0 THEN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'DB_CONSTRAINT: Active or draft lease already exists for this unit and date range.';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `maintenance_costs`
--

DROP TABLE IF EXISTS `maintenance_costs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_costs` (
  `cost_id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `vendor_id` int DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `recorded_date` date NOT NULL,
  `bill_to` enum('owner','tenant') DEFAULT 'owner',
  `payout_id` int DEFAULT NULL,
  `status` enum('active','voided') DEFAULT 'active',
  `invoice_id` int DEFAULT NULL,
  `is_reimbursable` tinyint(1) DEFAULT '0',
  `amount` bigint DEFAULT '0',
  PRIMARY KEY (`cost_id`),
  UNIQUE KEY `unique_cost_entry` (`request_id`,`vendor_id`,`description`(150),`amount`,`recorded_date`),
  KEY `request_id` (`request_id`),
  KEY `idx_maintenance_costs_payout_id` (`payout_id`),
  KEY `fk_mc_invoice` (`invoice_id`),
  KEY `fk_maintenance_vendor` (`vendor_id`),
  CONSTRAINT `fk_maintenance_payout` FOREIGN KEY (`payout_id`) REFERENCES `owner_payouts` (`payout_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_maintenance_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_mc_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `rent_invoices` (`invoice_id`),
  CONSTRAINT `maintenance_costs_invoice_id_foreign` FOREIGN KEY (`invoice_id`) REFERENCES `rent_invoices` (`invoice_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_costs`
--

LOCK TABLES `maintenance_costs` WRITE;
/*!40000 ALTER TABLE `maintenance_costs` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_costs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_images`
--

DROP TABLE IF EXISTS `maintenance_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_images` (
  `image_id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `uploaded_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`image_id`),
  KEY `request_id` (`request_id`),
  CONSTRAINT `maintenance_images_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `maintenance_requests` (`request_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_images`
--

LOCK TABLES `maintenance_images` WRITE;
/*!40000 ALTER TABLE `maintenance_images` DISABLE KEYS */;
INSERT INTO `maintenance_images` VALUES (1,1,'blob:http://localhost:5173/4a8fdfbb-744c-4121-b5b9-542f2503a8a8','2026-03-08 18:44:30'),(2,2,'https://res.cloudinary.com/dqkiheg5b/image/upload/v1776363698/pms_uploads/R-1776363696149-314938334.jpg','2026-04-16 23:51:39'),(3,3,'https://res.cloudinary.com/dqkiheg5b/image/upload/v1776580884/pms_uploads/Screenshot%202026-04-17%20205007-1776580882035-340840468.png','2026-04-19 12:11:24');
/*!40000 ALTER TABLE `maintenance_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_requests`
--

DROP TABLE IF EXISTS `maintenance_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_requests` (
  `request_id` int NOT NULL AUTO_INCREMENT,
  `unit_id` int NOT NULL,
  `tenant_id` int NOT NULL,
  `assigned_to` int unsigned DEFAULT NULL COMMENT 'Staff member responsible for resolving this request',
  `assigned_by` int unsigned DEFAULT NULL COMMENT 'User who made the assignment',
  `title` varchar(150) NOT NULL,
  `description` text NOT NULL,
  `priority` enum('low','medium','high','urgent') DEFAULT 'medium',
  `status` enum('submitted','in_progress','completed','closed') NOT NULL DEFAULT 'submitted',
  `eta` datetime DEFAULT NULL COMMENT 'Estimated time of arrival/completion',
  `resolution_notes` text COMMENT 'Treasurers notes on the resolution',
  `resolved_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `category` varchar(50) DEFAULT 'general',
  PRIMARY KEY (`request_id`),
  KEY `idx_maintenance_status` (`status`),
  KEY `fk_maintenance_unit` (`unit_id`),
  KEY `fk_maintenance_tenant` (`tenant_id`),
  CONSTRAINT `fk_maintenance_tenant` FOREIGN KEY (`tenant_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_maintenance_unit` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_requests`
--

LOCK TABLES `maintenance_requests` WRITE;
/*!40000 ALTER TABLE `maintenance_requests` DISABLE KEYS */;
INSERT INTO `maintenance_requests` VALUES (1,11,18,NULL,NULL,'Broken window','front windows are broken','medium','in_progress',NULL,NULL,NULL,'2026-03-08 18:44:30','general'),(2,10,18,NULL,1,'Broken Door','main hall window is broken','medium','in_progress',NULL,NULL,NULL,'2026-04-16 23:51:39','appliance'),(3,11,18,NULL,13,'Pipe broken','kitchen pipe broken','high','in_progress',NULL,NULL,NULL,'2026-04-19 12:11:24','plumbing');
/*!40000 ALTER TABLE `maintenance_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `message_id` int NOT NULL AUTO_INCREMENT,
  `lead_id` int DEFAULT NULL,
  `tenant_id` int DEFAULT NULL,
  `sender_id` int DEFAULT NULL,
  `sender_lead_id` int DEFAULT NULL,
  `sender_type` enum('user','lead') NOT NULL DEFAULT 'user',
  `content` text NOT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`message_id`),
  KEY `lead_id` (`lead_id`),
  KEY `sender_id` (`sender_id`),
  KEY `fk_messages_sender_lead` (`sender_lead_id`),
  KEY `fk_msg_tenant` (`tenant_id`),
  CONSTRAINT `fk_messages_sender_lead` FOREIGN KEY (`sender_lead_id`) REFERENCES `leads` (`lead_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_msg_tenant` FOREIGN KEY (`tenant_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`lead_id`) ON DELETE CASCADE,
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`sender_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_sender_consistency` CHECK ((((`sender_type` = _utf8mb4'user') and (`sender_id` is not null)) or ((`sender_type` = _utf8mb4'lead') and (`sender_lead_id` is not null))))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
INSERT INTO `messages` VALUES (4,9,NULL,NULL,9,'lead','hello',0,'2026-03-09 21:16:05'),(5,15,NULL,NULL,15,'lead','hi',0,'2026-03-17 15:19:52'),(6,25,NULL,NULL,25,'lead','hi',0,'2026-03-30 18:01:33'),(7,25,NULL,1,NULL,'user','kljj',0,'2026-03-30 18:42:49'),(8,35,67,1,NULL,'user','hello',0,'2026-04-16 12:43:32');
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `message` text NOT NULL,
  `type` enum('invoice','lease','maintenance','payment','visit','system') NOT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `expires_at` datetime DEFAULT NULL COMMENT 'Optional expiry; NULL means never expires',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `severity` enum('info','warning','urgent') DEFAULT 'info',
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `user_id` (`user_id`),
  KEY `idx_notification_user_read` (`user_id`,`is_read`,`created_at`),
  KEY `idx_notif_user_read_recent` (`user_id`,`is_read`,`created_at`),
  KEY `idx_notification_expiry` (`expires_at`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `owner_payouts`
--

DROP TABLE IF EXISTS `owner_payouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `owner_payouts` (
  `payout_id` int NOT NULL AUTO_INCREMENT,
  `owner_id` int NOT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `status` enum('pending','paid','acknowledged','disputed') DEFAULT 'pending',
  `generated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `processed_at` datetime DEFAULT NULL,
  `deficit_amount` bigint NOT NULL DEFAULT '0',
  `deficit_offset_payout_id` int DEFAULT NULL,
  `gross_amount` bigint NOT NULL DEFAULT '0',
  `commission_amount` bigint NOT NULL DEFAULT '0',
  `expenses_amount` bigint NOT NULL DEFAULT '0',
  `bank_reference` varchar(100) DEFAULT NULL,
  `proof_url` varchar(500) DEFAULT NULL,
  `treasurer_id` int DEFAULT NULL,
  `acknowledged_at` datetime DEFAULT NULL,
  `dispute_reason` text,
  `amount` bigint GENERATED ALWAYS AS (greatest(0,((`gross_amount` - `commission_amount`) - `expenses_amount`))) STORED,
  PRIMARY KEY (`payout_id`),
  KEY `owner_id` (`owner_id`),
  KEY `owner_payouts_deficit_offset_payout_id_foreign` (`deficit_offset_payout_id`),
  KEY `owner_payouts_treasurer_id_foreign` (`treasurer_id`),
  CONSTRAINT `owner_payouts_deficit_offset_payout_id_foreign` FOREIGN KEY (`deficit_offset_payout_id`) REFERENCES `owner_payouts` (`payout_id`) ON DELETE SET NULL,
  CONSTRAINT `owner_payouts_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `owner_payouts_treasurer_id_foreign` FOREIGN KEY (`treasurer_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `owner_payouts`
--

LOCK TABLES `owner_payouts` WRITE;
/*!40000 ALTER TABLE `owner_payouts` DISABLE KEYS */;
INSERT INTO `owner_payouts` (`payout_id`, `owner_id`, `period_start`, `period_end`, `status`, `generated_at`, `processed_at`, `deficit_amount`, `deficit_offset_payout_id`, `gross_amount`, `commission_amount`, `expenses_amount`, `bank_reference`, `proof_url`, `treasurer_id`, `acknowledged_at`, `dispute_reason`) VALUES (7,1,'2000-01-01','2026-03-28','pending','2026-03-28 12:05:21',NULL,0,NULL,0,0,0,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `owner_payouts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `owners`
--

DROP TABLE IF EXISTS `owners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `owners` (
  `user_id` int NOT NULL,
  `nic` varchar(20) NOT NULL,
  `tin` varchar(50) DEFAULT NULL,
  `tin_url` varchar(500) DEFAULT NULL,
  `bank_name` varchar(100) DEFAULT NULL,
  `branch_name` varchar(100) DEFAULT NULL,
  `account_holder_name` varchar(100) DEFAULT NULL,
  `account_number` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `unique_owner_nic` (`nic`),
  CONSTRAINT `owners_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `owners`
--

LOCK TABLES `owners` WRITE;
/*!40000 ALTER TABLE `owners` DISABLE KEYS */;
INSERT INTO `owners` VALUES (1,'198533001234','100200300',NULL,'Sampath Bank PLC','Colombo 04 (Bambalapitiya)','Y. Bavikaran','002930012845');
/*!40000 ALTER TABLE `owners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `invoice_id` int NOT NULL,
  `payment_date` date NOT NULL,
  `payment_method` varchar(30) DEFAULT NULL,
  `proof_url` varchar(255) DEFAULT NULL,
  `reference_number` varchar(100) NOT NULL,
  `status` enum('pending','verified','rejected') DEFAULT 'pending',
  `verified_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `payout_id` int DEFAULT NULL,
  `amount` bigint DEFAULT '0',
  PRIMARY KEY (`payment_id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_payment_status` (`status`),
  KEY `idx_payments_payout_id` (`payout_id`),
  KEY `payments_invoice_fk` (`invoice_id`),
  KEY `idx_payment_invoice_status` (`invoice_id`,`status`),
  KEY `idx_pay_invoice_status` (`invoice_id`,`status`),
  KEY `idx_payment_payout_status` (`payout_id`,`status`),
  CONSTRAINT `fk_payment_payout` FOREIGN KEY (`payout_id`) REFERENCES `owner_payouts` (`payout_id`) ON DELETE SET NULL,
  CONSTRAINT `payments_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `payments_invoice_fk` FOREIGN KEY (`invoice_id`) REFERENCES `rent_invoices` (`invoice_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`pms_admin`@`%`*/ /*!50003 TRIGGER `trg_invoice_amount_paid_insert` AFTER INSERT ON `payments` FOR EACH ROW BEGIN
      IF NEW.status = 'verified' THEN
        UPDATE rent_invoices
        SET amount_paid = (
          SELECT COALESCE(SUM(p2.amount), 0)
          FROM payments p2
          WHERE p2.invoice_id = NEW.invoice_id
            AND p2.status = 'verified'
        )
        WHERE invoice_id = NEW.invoice_id;
      END IF;
    END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`pms_admin`@`%`*/ /*!50003 TRIGGER `trg_invoice_amount_paid_update` AFTER UPDATE ON `payments` FOR EACH ROW BEGIN
      IF OLD.status != NEW.status AND
         (OLD.status = 'verified' OR NEW.status = 'verified') THEN
        UPDATE rent_invoices
        SET amount_paid = (
          SELECT COALESCE(SUM(p2.amount), 0)
          FROM payments p2
          WHERE p2.invoice_id = NEW.invoice_id
            AND p2.status = 'verified'
        )
        WHERE invoice_id = NEW.invoice_id;
      END IF;
    END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `properties`
--

DROP TABLE IF EXISTS `properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `properties` (
  `property_id` int NOT NULL AUTO_INCREMENT,
  `owner_id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `property_type_id` int NOT NULL,
  `property_no` varchar(50) DEFAULT NULL,
  `street` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `district` varchar(100) NOT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `description` text,
  `deleted_at` datetime DEFAULT NULL,
  `is_archived` tinyint(1) DEFAULT '0',
  `archived_at` datetime DEFAULT NULL,
  `late_fee_percentage` decimal(5,2) DEFAULT '3.00',
  `late_fee_type` enum('flat_percentage','daily_fixed') DEFAULT 'flat_percentage',
  `late_fee_amount` bigint DEFAULT '0',
  `late_fee_grace_period` int DEFAULT '5',
  `tenant_deactivation_days` int DEFAULT '30',
  `management_fee_percentage` decimal(5,2) DEFAULT '0.00',
  PRIMARY KEY (`property_id`),
  KEY `owner_id` (`owner_id`),
  KEY `property_type_id` (`property_type_id`),
  KEY `idx_properties_city_district` (`city`,`district`),
  KEY `idx_properties_deleted_at` (`deleted_at`),
  CONSTRAINT `properties_ibfk_2` FOREIGN KEY (`property_type_id`) REFERENCES `property_types` (`type_id`),
  CONSTRAINT `properties_owner_id_foreign` FOREIGN KEY (`owner_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `properties`
--

LOCK TABLES `properties` WRITE;
/*!40000 ALTER TABLE `properties` DISABLE KEYS */;
/*!40000 ALTER TABLE `properties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_amenities`
--

DROP TABLE IF EXISTS `property_amenities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_amenities` (
  `amenity_id` int NOT NULL AUTO_INCREMENT,
  `property_id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`amenity_id`),
  UNIQUE KEY `unique_property_amenity` (`property_id`,`name`),
  KEY `idx_amenity_property` (`property_id`),
  CONSTRAINT `property_amenities_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_amenities`
--

LOCK TABLES `property_amenities` WRITE;
/*!40000 ALTER TABLE `property_amenities` DISABLE KEYS */;
INSERT INTO `property_amenities` VALUES (4,37,'3 Bedrooms','2026-04-10 05:16:57'),(5,37,'1 Kitchen','2026-04-10 05:16:57'),(6,37,'2 Bathrooms','2026-04-10 05:16:57'),(7,37,'2 Halls','2026-04-10 05:16:58'),(8,38,'Advanced Gym','2026-04-10 05:16:58'),(9,38,'Swimming Pool','2026-04-10 05:16:58'),(13,35,'1 bathroom','2026-04-15 18:54:06'),(14,35,'1 kitchen','2026-04-15 18:54:06'),(15,35,'2 bedrooms','2026-04-15 18:54:06');
/*!40000 ALTER TABLE `property_amenities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_images`
--

DROP TABLE IF EXISTS `property_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_images` (
  `image_id` int NOT NULL AUTO_INCREMENT,
  `property_id` int NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `is_primary` tinyint(1) DEFAULT '0',
  `display_order` int DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`image_id`),
  KEY `property_id` (`property_id`),
  CONSTRAINT `property_images_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_images`
--

LOCK TABLES `property_images` WRITE;
/*!40000 ALTER TABLE `property_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_types`
--

DROP TABLE IF EXISTS `property_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_types` (
  `type_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_types`
--

LOCK TABLES `property_types` WRITE;
/*!40000 ALTER TABLE `property_types` DISABLE KEYS */;
INSERT INTO `property_types` VALUES (1,'House',''),(2,'Condo',''),(3,'Land',''),(4,'Boarding houses',''),(5,'Office spaces',''),(6,'Stores',''),(7,'Warehouses','');
/*!40000 ALTER TABLE `property_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_visits`
--

DROP TABLE IF EXISTS `property_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_visits` (
  `visit_id` int NOT NULL AUTO_INCREMENT,
  `property_id` int NOT NULL,
  `unit_id` int DEFAULT NULL,
  `lead_id` int DEFAULT NULL,
  `assigned_staff_id` int DEFAULT NULL COMMENT 'Staff member conducting the visit',
  `visitor_name` varchar(100) DEFAULT NULL,
  `visitor_email` varchar(100) DEFAULT NULL,
  `visitor_phone` varchar(20) DEFAULT NULL,
  `scheduled_date` datetime NOT NULL,
  `status` enum('pending','confirmed','cancelled','completed','no-show') DEFAULT 'pending',
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`visit_id`),
  KEY `property_id` (`property_id`),
  KEY `unit_id` (`unit_id`),
  KEY `lead_id` (`lead_id`),
  KEY `property_visits_assigned_staff_id_foreign` (`assigned_staff_id`),
  KEY `idx_unit_visit_time` (`unit_id`,`scheduled_date`),
  CONSTRAINT `property_visits_assigned_staff_id_foreign` FOREIGN KEY (`assigned_staff_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `property_visits_lead_id_foreign` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`lead_id`) ON DELETE CASCADE,
  CONSTRAINT `property_visits_property_id_foreign` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`) ON DELETE CASCADE,
  CONSTRAINT `property_visits_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_visits`
--

LOCK TABLES `property_visits` WRITE;
/*!40000 ALTER TABLE `property_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receipts`
--

DROP TABLE IF EXISTS `receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receipts` (
  `receipt_id` int NOT NULL AUTO_INCREMENT,
  `payment_id` int NOT NULL,
  `receipt_date` date NOT NULL,
  `receipt_number` varchar(50) NOT NULL,
  PRIMARY KEY (`receipt_id`),
  UNIQUE KEY `payment_id` (`payment_id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  CONSTRAINT `fk_receipts_payment` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`payment_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receipts`
--

LOCK TABLES `receipts` WRITE;
/*!40000 ALTER TABLE `receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `renewal_requests`
--

DROP TABLE IF EXISTS `renewal_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `renewal_requests` (
  `request_id` int NOT NULL AUTO_INCREMENT,
  `lease_id` int NOT NULL,
  `requested_by` enum('tenant','staff','system') NOT NULL DEFAULT 'system' COMMENT 'Who initiated this renewal request',
  `proposed_end_date` date DEFAULT NULL,
  `status` enum('pending','negotiating','approved','rejected','cancelled','expired') DEFAULT 'pending',
  `negotiation_notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `current_monthly_rent` bigint DEFAULT '0',
  `proposed_monthly_rent` bigint DEFAULT '0',
  `acceptance_deadline` date DEFAULT NULL,
  PRIMARY KEY (`request_id`),
  KEY `lease_id` (`lease_id`),
  CONSTRAINT `renewal_requests_ibfk_1` FOREIGN KEY (`lease_id`) REFERENCES `leases` (`lease_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `renewal_requests`
--

LOCK TABLES `renewal_requests` WRITE;
/*!40000 ALTER TABLE `renewal_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `renewal_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rent_invoices`
--

DROP TABLE IF EXISTS `rent_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rent_invoices` (
  `invoice_id` int NOT NULL AUTO_INCREMENT,
  `lease_id` int NOT NULL,
  `year` smallint NOT NULL,
  `month` tinyint NOT NULL,
  `due_date` date NOT NULL,
  `status` enum('pending','paid','overdue','void','partially_paid') DEFAULT 'pending',
  `description` varchar(255) DEFAULT NULL,
  `magic_token` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `invoice_type` enum('rent','maintenance','late_fee','deposit','other') DEFAULT 'rent',
  `magic_token_hash` varchar(64) DEFAULT NULL,
  `magic_token_expires_at` datetime DEFAULT NULL,
  `last_order_id` varchar(100) DEFAULT NULL,
  `amount` bigint DEFAULT '0',
  `amount_paid` bigint NOT NULL DEFAULT '0',
  PRIMARY KEY (`invoice_id`),
  UNIQUE KEY `magic_token` (`magic_token`),
  UNIQUE KEY `unique_periodic_invoice` (`lease_id`,`year`,`month`,`invoice_type`),
  KEY `idx_invoice_status` (`status`),
  KEY `idx_invoices_status_due_date` (`status`,`due_date`),
  KEY `idx_lease_id_new` (`lease_id`),
  KEY `idx_invoice_order_id` (`last_order_id`),
  CONSTRAINT `invoices_lease_fk` FOREIGN KEY (`lease_id`) REFERENCES `leases` (`lease_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rent_invoices`
--

LOCK TABLES `rent_invoices` WRITE;
/*!40000 ALTER TABLE `rent_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `rent_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `user_id` int NOT NULL,
  `nic` varchar(20) DEFAULT NULL,
  `employee_id` varchar(50) DEFAULT NULL,
  `job_title` varchar(50) DEFAULT NULL,
  `shift_start` time DEFAULT NULL,
  `shift_end` time DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `unique_staff_nic` (`nic`),
  CONSTRAINT `staff_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES (13,NULL,NULL,NULL,NULL,NULL),(58,NULL,NULL,NULL,NULL,NULL),(59,NULL,NULL,NULL,NULL,NULL),(60,NULL,NULL,NULL,NULL,NULL),(61,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_property_assignments`
--

DROP TABLE IF EXISTS `staff_property_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_property_assignments` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `property_id` int NOT NULL,
  `assigned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assignment_id`),
  UNIQUE KEY `unique_assignment` (`user_id`,`property_id`),
  UNIQUE KEY `unique_staff_property` (`user_id`,`property_id`),
  KEY `property_id` (`property_id`),
  KEY `idx_staff_assignment_property` (`property_id`),
  CONSTRAINT `staff_property_assignments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `staff_property_assignments_ibfk_2` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_property_assignments`
--

LOCK TABLES `staff_property_assignments` WRITE;
/*!40000 ALTER TABLE `staff_property_assignments` DISABLE KEYS */;
INSERT INTO `staff_property_assignments` VALUES (10,13,35,'2026-03-27 06:04:16'),(11,13,36,'2026-03-28 13:19:20'),(12,13,38,'2026-03-28 13:19:20'),(13,13,39,'2026-03-28 13:19:20'),(14,13,40,'2026-03-28 13:19:20'),(15,13,43,'2026-03-28 13:19:20'),(16,13,37,'2026-03-28 13:19:20'),(17,13,48,'2026-04-15 06:17:19');
/*!40000 ALTER TABLE `staff_property_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_audit_logs`
--

DROP TABLE IF EXISTS `system_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_audit_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `action_type` varchar(50) NOT NULL,
  `entity_id` int DEFAULT NULL,
  `details` json DEFAULT NULL COMMENT 'Structured event metadata',
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `entity_type` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  KEY `idx_audit_entity_compound` (`entity_id`,`entity_type`),
  KEY `idx_audit_action_recent` (`action_type`,`created_at`),
  KEY `idx_audit_entity` (`entity_id`),
  CONSTRAINT `system_audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=232 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_audit_logs`
--

LOCK TABLES `system_audit_logs` WRITE;
/*!40000 ALTER TABLE `system_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_behavior_logs`
--

DROP TABLE IF EXISTS `tenant_behavior_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_behavior_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `tenant_id` int NOT NULL,
  `type` enum('positive','negative','neutral') NOT NULL,
  `category` varchar(50) NOT NULL,
  `score_change` int NOT NULL,
  `description` text,
  `recorded_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `recorded_by` (`recorded_by`),
  KEY `idx_tenant_behavior_search` (`tenant_id`,`category`,`log_id`),
  CONSTRAINT `tenant_behavior_logs_ibfk_1` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `tenant_behavior_logs_ibfk_2` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_behavior_logs`
--

LOCK TABLES `tenant_behavior_logs` WRITE;
/*!40000 ALTER TABLE `tenant_behavior_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_behavior_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_credit_logs`
--

DROP TABLE IF EXISTS `tenant_credit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_credit_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `tenant_id` int NOT NULL,
  `amount_change` bigint NOT NULL,
  `reason` varchar(100) NOT NULL,
  `reference_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `tenant_id` (`tenant_id`),
  CONSTRAINT `tenant_credit_logs_ibfk_1` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_credit_logs`
--

LOCK TABLES `tenant_credit_logs` WRITE;
/*!40000 ALTER TABLE `tenant_credit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_credit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenants`
--

DROP TABLE IF EXISTS `tenants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenants` (
  `user_id` int NOT NULL,
  `nic` varchar(20) DEFAULT NULL,
  `nic_url` varchar(500) DEFAULT NULL,
  `emergency_contact_name` varchar(100) DEFAULT NULL,
  `emergency_contact_phone` varchar(20) DEFAULT NULL,
  `employment_status` enum('employed','self-employed','student','unemployed') DEFAULT NULL,
  `behavior_score` int DEFAULT '100',
  `permanent_address` text,
  `monthly_income` bigint DEFAULT '0',
  `credit_balance` bigint DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `nic` (`nic`),
  UNIQUE KEY `nic_2` (`nic`),
  CONSTRAINT `tenants_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenants`
--

LOCK TABLES `tenants` WRITE;
/*!40000 ALTER TABLE `tenants` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_images`
--

DROP TABLE IF EXISTS `unit_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_images` (
  `image_id` int NOT NULL AUTO_INCREMENT,
  `unit_id` int NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `is_primary` tinyint(1) DEFAULT '0',
  `display_order` int DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`image_id`),
  KEY `unit_id` (`unit_id`),
  CONSTRAINT `unit_images_ibfk_1` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_images`
--

LOCK TABLES `unit_images` WRITE;
/*!40000 ALTER TABLE `unit_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `unit_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_rent_history`
--

DROP TABLE IF EXISTS `unit_rent_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_rent_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `unit_id` int NOT NULL,
  `previous_rent` bigint NOT NULL,
  `new_rent` bigint NOT NULL,
  `changed_by` int DEFAULT NULL,
  `changed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `changed_by` (`changed_by`),
  KEY `idx_rent_history_unit` (`unit_id`),
  CONSTRAINT `unit_rent_history_ibfk_1` FOREIGN KEY (`unit_id`) REFERENCES `units` (`unit_id`) ON DELETE CASCADE,
  CONSTRAINT `unit_rent_history_ibfk_2` FOREIGN KEY (`changed_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_rent_history`
--

LOCK TABLES `unit_rent_history` WRITE;
/*!40000 ALTER TABLE `unit_rent_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `unit_rent_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_types`
--

DROP TABLE IF EXISTS `unit_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_types` (
  `type_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_types`
--

LOCK TABLES `unit_types` WRITE;
/*!40000 ALTER TABLE `unit_types` DISABLE KEYS */;
INSERT INTO `unit_types` VALUES (1,'Room',''),(2,'Shared room',''),(4,'1BHK',''),(5,'2BHK',''),(6,'3BHK',''),(7,'Luxury 2BR','');
/*!40000 ALTER TABLE `unit_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `unit_id` int NOT NULL AUTO_INCREMENT,
  `property_id` int NOT NULL,
  `unit_number` varchar(50) NOT NULL,
  `unit_type_id` int NOT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `status` enum('available','occupied','maintenance','reserved','inactive') DEFAULT 'available',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  `is_archived` tinyint(1) DEFAULT '0',
  `is_turnover_cleared` tinyint(1) DEFAULT '1',
  `archived_at` datetime DEFAULT NULL,
  `monthly_rent` bigint DEFAULT '0',
  PRIMARY KEY (`unit_id`),
  UNIQUE KEY `property_id` (`property_id`,`unit_number`),
  KEY `unit_type_id` (`unit_type_id`),
  KEY `idx_unit_status` (`status`),
  KEY `idx_units_deleted_at` (`deleted_at`),
  CONSTRAINT `units_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `properties` (`property_id`),
  CONSTRAINT `units_ibfk_2` FOREIGN KEY (`unit_type_id`) REFERENCES `unit_types` (`type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('owner','tenant','treasurer') NOT NULL,
  `is_email_verified` tinyint(1) DEFAULT '0',
  `email_verified_at` datetime DEFAULT NULL,
  `token_version` int DEFAULT '0',
  `status` enum('active','inactive','banned') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  `is_archived` tinyint(1) DEFAULT '0',
  `archived_at` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `vendor_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `service_type` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`vendor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-19 13:45:08
